{{> nav/nav-block}}

<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Workout</h5>
          <p>
            <strong>ID</strong>: {{workout.id}}</p>
          <p>
          <p>
            <strong>Text</strong>: {{workout.text}}</p>
          <p>
          <p>
            <strong>Calories</strong>: {{workout.calories}}</p>
          <p>
            <strong>Description:</strong> {{workout.description}}</p>
            <a href="/workout">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>

{{> modal/login-block}}
